{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}La billeterie du musée du Louvre{% endblock %}</title>


    {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('bundles/louvreticket/css/style.css') }}">
    {% endblock %}

</head>

<body>
<div class="container">
    <div class="row">
    <div id="header" class="jumbotron">
        <h1>Musée du Louvre <br> Réservez en quelques minutes</h1>
    </div>

        <div id="info" class="col-md-3">
               <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal2">Horaires et Tarifs</button>
                <!-- Modal -->
                <div class="modal fade" id="myModal2" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Horaires et tarifs</h4>
                            </div>
                            <div class="modal-body">
                                Le musée est ouvert tous les jours de 9h à 18h excepté le mardi.
                                (fermeture des salles à partir de 17h30).
                                Il n'est pas possible de réserver ren ligne pour le Dimanche mais le musée est ouvert.

                                <p>Les tarifs ci-dessous s'aplliquent à la journée . Pour une entrée après 14h il est appliqué un demi-tarif</p>
                               <p><ul>
                                    <li>A partir de 12 ans: 16 €</li>
                                    <li>Enfant à partir de 4 ans et jusqu’à 12 ans: 8 €</li>
                                    <li>Sénior à partir de 60 ans: 12  €</li>
                                    <li>Enfant de moins de 4 ans: gratuit</li>
                                    <li><b>Un tarif « réduit » de 10 € accordé dans certaines conditions (étudiant, employé du musée, d’un service du Ministère de la Culture, militaire…).
                                            Le jour de votre visite vous devrez vous munir du justificatif vous donnant accès à ce tarif réduit .</b></li>
                                </ul>
                            </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            </div>
                        </div>

                    </div>
                </div>
        </div>





        <div id="intro" class=" col-md-9">
        <h2>Réservez en quelques clics </h2> Cliquez ici pour découvrir le site complet du Louvre</div>
        </div>
        <div id="content" class="col-md-offset-3 col-md-9">
            {% block body %}

            {% endblock %}
        </div>

    </div>
</div>


    <hr>


    <footer>


    </footer>




{% block javascripts %}

    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

{% endblock %}


</body>

</html>