{# src/Louvre/TicketBundle/Resources/views/index.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
 <h1> Site pratique pour commander rapidement vos billts d'entrée</h1>

    -Présentation du site<br>
    -Infos pratiques<br>
    <a href="{{ path('louvre_ticket_order') }}">Liens vers acheter vos places</a>
{% endblock %}