{# src/Louvre/TicketBundle/Resources/views/Ticket/infos.html.twig #}
{% extends "LouvreTicketBundle:Ticket:index.html.twig" %}

{% block title %}
    Billetterie - {{ parent() }}
{% endblock %}

{% block body %}

    <h2>Les informations pour préparer votre réservation</h2>





{% endblock %}