{# src/Louvre/TicketBundle/Resources/views/Ticket/order_create.html.twig #}
{% extends "::layout.html.twig" %}

{% block title %}
    Billetterie - {{ parent() }}
{% endblock %}

{% block body %}

    <h1>Etape 1 - Date et nombre d'entré(s)</h1>

    {% for type, messages in app.session.flashbag.all %}
        {% for message in messages %}
            {%if type == 'error'%} {% set type = 'danger' %} {%endif%}
            <div class="alert alert-{{ type }}">
                {{ message|raw }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="well">
        {{ form(form) }}
    </div>



{% endblock %}