{# src/Louvre/TicketBundle/Resources/views/Ticket/order_tree.html.twig #}
{% extends "LouvreTicketBundle:Ticket:index.html.twig" %}

{% block title %}
   Billetterie - {{ parent() }}
{% endblock %}

{% block body %}

   <h2>Paiement</h2>


   <form class="stripe-button-container text-center" method="POST">

       <form action="/your-server-side-code" method="POST">
           <script
                   src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                   data-key="pk_test_LYib6NbE4DpiDsxFOrkbtQN0"
                   data-amount="2000"
                   data-name="Billeterie du Louvre"
                   data-description="Paiement"
                   data-image="{{ asset('bundles/louvreticket/image/louvre-stripe.jpg')}}"
                   data-locale="auto"
                   data-zip-code="false"
                   data-currency="eur">
           </script>
       </form>
   </form>





{% endblock %}
