{# src/Louvre/TicketBundle/Resources/views/Ticket/order_two.html.twig #}
{% extends "LouvreTicketBundle:Ticket:index.html.twig" %}

{% block title %}
    Billetterie - {{ parent() }}
{% endblock %}

{% block body %}

    <h2>Etape 2 - Saisie de vos informations nominatives</h2>

    {% for type, messages in app.session.flashbag.all %}
        {% for message in messages %}
            {%if type == 'error'%} {% set type = 'danger' %} {%endif%}
            <div class="alert">
                {{ message|raw }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="well">
        {{ form(form) }}
    </div>



{% endblock %}